

/* xMake my websit Responsive for Mini Laptop and Tabletsx */
@media only screen and (min-width: 901px) and (max-width: 1200px){

    header {
        width: 100%;
        height: 40px;
        background: #fff;
        box-shadow: 0px 0px 7px rgba(0,0,0,0.3);
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    header > ul {
        display: flex;
    }
    header > ul > li {
        margin: 5px;
    }
    header > ul > li > a{
        font-size: 15px;
        color: #000;
        transform-origin: left;
        transition: all ease 0.9s;
    }
    header > ul > li > a:hover{
        color: rgba(255, 166, 0, 0.623);
        letter-spacing: 0.5px;
    }

    .top-box {
        display: none;
    }
    .top-box-responsive {
        display: flex;
    }
.logo {
    width: 200px;
    height: 60px;
    display: flex;
    background: yellow;
    justify-content: center;
    margin: 5px 10px;
}

    .logo > h1 {
        font-size: 60px;
        padding: 4px 3px;
    }
    .logo > p {
        font-size: 20px;
        padding: 4px 3px;
    }
    .showcase {
        width: 100%;
        height: 80vh;
        background: url("c.jpg");
        background-size: cover;
        background-position: center;
    }
    .showcase-text {
        width: 80%;
        height: 150px;
        margin: 5% 10%;
    }
    .showcase-text > h1 {
        font-size: 80px;
        text-shadow: 2px 1px 3px rgba(22, 9, 9, 0.199);
        color: #fff;
    }

    .showcase-text > h1 > span {
        color: orange;
    }

    .showcase-text > p {
        font-size: 40px;
        color: orange;
        text-shadow: 2px 1px 3px rgba(7, 1, 1, 0.397);
    }

    .showcase-text > p > span {
        color: #fff;
    }

    .showcase-text > a > button {
        width: 200px;
        height: 40px;
        background: yellow;
        color: #000;
        outline: none;
        border: none;
        font-size: 20px;
        margin: 5px 0px;
        transition: all ease 01s;
    }

    .showcase-text > a > button:hover {
        background: #000;
        width: 230px;
        color: orange;
    }

    .showcase-box {
        width: 80%;
        margin-left: 10%;
        height: 300px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: -10%;
    }

      .showcase-box-box {
        width: 220px;
        height: 220px;
        background: #000;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transition: all ease 0.8s;
        box-shadow: 3px 5px 7px rgba(0,0,0,0.3);
      }

      .showcase-box-box:hover {
          border: 10px solid orange;
      }

      .showcase-box-box > h1 {
        font-size: 100px;
        color: #fff;
      }
      .showcase-box-box > h1 > span {
          color: orange;
      }

        .showcase-box-box > h3 {
        font-size: 30px;
        text-align: center;
        color: orange;
      }

      .showcase-box-box > h3 > span {
          color: #fff;
      }

           /* Info Box */
           .info-box {
            width: 80%;
            margin-left: 20%;
            margin-top: 5%;
            height: 80px;
           border-bottom: 5px solid #000;
        }
        .info-box  > h1 {
            color: #000;
            font-size: 40px;
            padding: 0px 10px;
        }
        .info-box  > p {
            color: #fff;
            font-size: 20px;
            color: #000;
            padding: 0px 10px;
        }
  
        .info-box  > p > a > span {
            color: orange;
            text-align: justify;
        }
  /* xInfo Boxx */




/* Web Design */
.web-design {
    width: 90%;
    margin: 15% 5%;
    height: 1200px;
    display: flex;
    flex-direction: column;
}

.web-design-box {
    width: 100%;
    height: 40%;
    background: url("yellow.jpeg");
    background-size: cover;
    background-position: center;
    border-bottom: 0px solid orange;
}
.graphics-design-box {
    width: 100%;
    height: 40%;
    background: url("green-high.jpg");
    background-size: cover;
    background-position: center;
    border-bottom: 0px solid orange;
}

.web-design-text {
    width: 100%;
    height: 055%;
}
.web-design-text-box {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.web-text-text1 {
    width:100%;
    height: 40%;
    background: #000;
    border-top: 0px solid orange;
}
.web-text-text2 {
    width:100%;
    height: 55%;
}
.web-text-text1 > h1 {
    font-size: 80px;
    color: #fff;
    padding: 10px 5px;
}

.web-text-text1> h1 > span {
    color: orange;
}
.web-text-text2 > h3 {
    font-size: 30px;
    color: #000;
    padding: 10px 5px;
}
.web-text-text2 > h3 > a{
    color: orange;
}
.web-text-text2 > p {
    font-size: 20px;
    color: #000;
    padding: 10px 5px;
}
.web-text-text2 > a > p {
    font-size: 20px;
    padding: 10px 5px;
    color: orange;
} 
/* xWeb Designx */






/* Compure Enginnering */
.computer-engineering {
    width: 90%;
    height: 700px;
    margin: 15% 5%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.computer-engineering-box {
    width: 100%;
    height: 400px;
    background: url("a.jpg");
    background-size: cover;
    background-position: center;
    border-bottom: 5px solid orange;
}
.computer-engineering-text {
    width: 100%;
    height: 400px;
}
.computer-engineering-text > h1 {
    font-size: 60px;
}
.computer-engineering > h1 > span {
    color: yellow;
}
.computer-engineering-text > h3 {
    font-size: 30px;
    color: #000;
    padding: 10px 5px;
}

.computer-engineering-text > p {
    font-size: 20px;
    color: #000;
    padding: 10px 5px;
}
.computer-engineering-text > a > p {
    font-size: 20px;
    padding: 10px 5px;
    color: orange;
}
/* xCompure Enginneringx */


.footer {
    width: 100%;
    height: 300px;
    background: #000;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.footer > h1 {
    color: orange;
    font-size: 50px;
}
.footer > h3 {
    color: yellow;
    font-size: 30px;
}
.footer > P {
    color: yellow;
    font-size: 20px;
}
.social-box i {
    color: #fff;
    font-size: 50px;
}

/* Go into the WEB DESIGN SECTION */

/* WEB DESIGNING PAGE NOW */
.web-showcase {
    width: 100%;
    height: 6Ovh;
    background: url(eniola.jpg);    
    background-size: cover;
    background-position: center;
}


.web-section {
    width: 90%;
    height: 350px;
    margin-left: 5%;
    margin-top: -10%;
    display: flex;
    justify-content: space-between;
}
.web-section-box {
    width: 350px;
    height: 350px;
    background: #000;
    transition: all ease 0.7s;
    box-shadow: 2px 1px 3px  rgba(238, 223, 9, 0.24);
}
.web-section-box:hover {
    border: 10px solid orange;
}
.web-section-box > h1 {
    font-size: 130px;
    color: orange;
    text-align: center;
}
.web-section-box > h3 {
    font-size: 50px;
    text-align: center;
    color: #fff;
}
.web-section-box > p {
    font-size: 25px;
    color: yellow;
    text-align: center;
}

.question {
    width: 90%;
    height: 900px;
    margin: 10% 5%;
}
.qp {
    width: 100%;
    margin: 3% 0%;
    font-size: 20px;
}

.question-box {
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: space-between;
}
.question-box-img {
    width: 45%;
    height: 100%;
    background: url(coder.jpg);    
    background-size: cover;
    background-position: center;
}
.question-box-img2 {
    width: 45%;
    height: 100%;
    background: url(require.jpg);    
    background-size: cover;
    background-position: center;
}
.question-box-text {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.question-box-text > h1 {
    font-size: 70px;
    color: orange;
}
.question-box-text > h3 {
    font-size: 30px;
    color: #000;
    padding: 5px 0px;
}
.question-box-text > p {
    font-size: 20px;
}
                                                       

/* Go into the WEB DESIGN SECTION */

}













/* xMake my websit Responsive for Mini Laptop and Tabletsx */
@media only screen and (min-width: 601px) and (max-width: 900px){
    .top-box {
        width: 100%;
        height: 40px;
        display: flex;
        margin: 1% 0%;
    }
    .top-box > p{
        font-size: 15px;
        color: #fff;
    }
    
    header {
        width: 100%;
        height: 40px;
        background: #fff;
        box-shadow: 0px 0px 7px rgba(0,0,0,0.3);
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    header > ul {
        display: flex;
    }
    header > ul > li {
        margin: 4px;
    }
    header > ul > li > a{
        font-size: 15px;
        color: #000;
        font-weight: 300;
        transform-origin: left;
        transition: all ease 0.9s;
    }
    header > ul > li > a:hover{
        color: rgba(255, 166, 0, 0.623);
        letter-spacing: 2px;
    }
    
    .logo {
        width: 80px;
        height: 40px;
        display: flex;
        background: yellow;
        justify-content: center;
        margin: -5% 10px;
    }
    
        .logo > h1 {
            font-size: 30px;
            padding: 4px 3px;
            color: #000;
        }
        .logo > p {
            font-size: 15px;
            padding: 4px 3px;
            color: #000;
        }

        .showcase {
            width: 100%;
            height: 500px;
            background: url("c.jpg");
            background-size: cover;
            background-position: center;
        }
        .showcase-text {
            width: 80%;
            height: 150px;
            margin: 0% 10%;
        }
        .showcase-text > h1 {
            font-size: 60px;
            text-shadow: 2px 1px 3px rgba(22, 9, 9, 0.199);
            color: #fff;
        }
    
        .showcase-text > h1 > span {
            color: orange;
        }
    
        .showcase-text > p {
            font-size: 40px;
            color: orange;
            text-shadow: 2px 1px 3px rgba(7, 1, 1, 0.397);
        }
    
        .showcase-text > p > span {
            color: #fff;
        }
    
        .showcase-text > a > button {
            width: 150px;
            height: 40px;
            background: yellow;
            color: #000;
            outline: none;
            border: none;
            font-size: 18px;
            margin: 5px 0px;
            transition: all ease 01s;
            font-family: 'Barlow Condensed', sans-serif;
        }
    
        .showcase-text > a > button:hover {
            background: #000;
            width: 200px;
            color: orange;
        }
        .showcase-box {
            width: 90%;
            margin-left: 5%;
            height: auto;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: 10%;
            flex-wrap: wrap;
        }
    
          .showcase-box-box {
            width: 250px;
            height: 250px;
            background: #000;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            transition: all ease 0.8s;
            box-shadow: 3px 5px 7px rgba(0,0,0,0.3);
            margin: 6px 3px;
          }
    
          .showcase-box-box:hover {
              border: 5px solid orange;
          }
    
          .showcase-box-box > h1 {
            font-size: 100px;
            color: #fff;
          }
          .showcase-box-box > h1 > span {
              color: orange;
          }
    
            .showcase-box-box > h3 {
            font-size: 40px;
            text-align: center;
            color: orange;
          }
    
          .showcase-box-box > h3 > span {
              color: #fff;
          }
    
    
          /* Info Box */
          .info-box {
              width: 100%;
              margin-left: 0%;
              margin-top: 15%;
              height: 120px;
             border-bottom: 5px solid #000;
          }
          .info-box  > h1 {
              color: #000;
              font-size: 60px;
              text-align: center;
          }
          .info-box  > p {
              color: #fff;
              font-size: 20px;
              color: #000;
              text-align: center;
          }
    
          .info-box  > p > a > span {
              color: orange;
              text-align: justify;
          }
    /* xInfo Boxx */
    
    /* Web Design */
    .web-design {
        width: 90%;
        margin: 15% 5%;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    
    .web-design-box {
        width: 100%;
        height: 400px;
        background: url("yellow.jpeg");
        background-size: cover;
        background-position: center;
        border-bottom: 3px solid orange;
    }
    .graphics-design-box {
        width: 100%;
        height: 400px;
        background: url("green-high.jpg");
        background-size: cover;
        background-position: center;
        border-bottom: 3px solid orange;
    }
    
    .web-design-text {
        width: 100%;
        height: auto;
    }
    .web-design-text-box {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .web-text-text1 {
        width:100%;
        height: 40%;
        border-top: 3px solid orange;
    }
    .web-text-text2 {
        width:100%;
        height: 55%;
    }
    .web-text-text1 > h1 {
        font-size: 80px;
        color: #000;
        padding: 10px 5px;
    }
    
    .web-text-text1> h1 > span {
        color: orange;
    }
    .web-text-text2 > h3 {
        font-size: 30px;
        color: #000;
        padding: 10px 5px;
    }
    .web-text-text2 > h3 > a{
        color: orange;
    }
    .web-text-text2 > p {
        font-size: 20px;
        color: #000;
        padding: 10px 5px;
    }
    .web-text-text2 > a > p {
        font-size: 20px;
        padding: 10px 5px;
        color: orange;
    } 
    /* xWeb Designx */
    
    
    
    
    /* Compure Enginnering */
    .computer-engineering {
        width: 90%;
        height: auto;
        margin: 15% 5%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .computer-engineering-box {
        width: 100%;
        height: 300px;
        background: url("a.jpg");
        background-size: cover;
        background-position: center;
        border-bottom: 5px solid orange;
    }
    .computer-engineering-text {
        width: 100%;
        height: auto;
    }
    .computer-engineering-text > h1 {
        font-size: 60px;
    }
    .computer-engineering > h1 > span {
        color: yellow;
    }
    .computer-engineering-text > h3 {
        font-size: 30px;
        color: #000;
        padding: 10px 5px;
    }
    
    .computer-engineering-text > p {
        font-size: 20px;
        color: #000;
        padding: 10px 5px;
    }
    .computer-engineering-text > a > p {
        font-size: 20px;
        padding: 10px 5px;
        color: orange;
    }
    /* xCompure Enginneringx */
    /* Eniola end the Index here */
    
        
        
        
        
        
        
        
        
        /* WEB DESIGNING PAGE NOW */
        .web-showcase {
            width: 100%;
            height: 400px;
            background: url(eniola.jpg);    
            background-size: cover;
            background-position: center;
        }
        
        
        .web-section {
            width: 90%;
            height: auto;
            margin-left: 5%;
            margin-top: 05%;
            display: flex;
            justify-content: space-between;
            margin-top: -10%;
        }
        .web-section-box {
            width: 250px;
            height: 250px;
            background: #000;
            transition: all ease 0.7s;
            border: 1px solid #fff;
            box-shadow: 2px 1px 3px  rgba(238, 223, 9, 0.24);
        }
        .web-section-box:hover {
            border: 10px solid orange;
        }
        .web-section-box > h1 {
            font-size: 60px;
            color: orange;
            text-align: center;
        }
        .web-section-box > h3 {
            font-size: 30px;
            text-align: center;
            color: #fff;
        }
        .web-section-box > p {
            font-size: 20px;
            color: yellow;
            text-align: center;
        }
        
        .question {
            width: 90%;
            height: auto;
            margin: 10% 5%;
        }
        .qp {
            width: 100%;
            margin: 3% 0%;
            font-size: 20px;
        }
        
        .question-box {
            width: 100%;
            height: auto;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }
        .question-box-img {
            width: 100%;
            height: 400px;
            background: url(coder.jpg);    
            background-size: cover;
            background-position: center;
        }
        .question-box-img2 {
            width: 100%;
            height: 400px;
            background: url(require.jpg);    
            background-size: cover;
            background-position: center;
        }
        .question-box-text {
            width: 100%;
            height: auto;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        .question-box-text > h1 {
            font-size: 70px;
            color: orange;
        }
        .question-box-text > h3 {
            font-size: 30px;
            color: #000;
            padding: 5px 0px;
        }
        .question-box-text > p {
            font-size: 20px;
        }
        /* WEB DESIGN */                                                   
        
        
        /* xGRAPHICS DESIGNx */
        .graphic-showcase {
            width: 100%;
            height: 400px;
            background: url(graphics.jpg);    
            background-size: cover;
            background-position: center;
            border-bottom: 5px solid yellow;
        }
        .graphic-showcase-text {
            width: 90%;
            height: auto;
            margin: 0% 5%;
        }
        .graphic-showcase-text > h1 {
            font-size: 70px;
            text-shadow: 2px 1px 3px rgba(22, 9, 9, 0.199);
            color: #fff;
        }
        
        .graphic-showcase-text > h1 > span {
            color: orange;
        }
        
        .graphic-showcase-text > p {
            font-size: 30px;
            color: orange;
            text-shadow: 2px 1px 3px rgba(7, 1, 1, 0.397);
        }
        
        .graphic-showcase-text > p > span {
            color: #fff;
        }
        
        .graphic-showcase-text > a > button {
            width: 150px;
            height: 40px;
            background: yellow;
            color: #000;
            outline: none;
            border: none;
            font-size: 18px;
            margin: 5px 0px;
            transition: all ease 01s;
            font-family: 'Barlow Condensed', sans-serif;
        }
        
        .graphic-showcase-text > a > button:hover {
            background: #000;
            width: 230px;
            color: orange;
        }
        /* Graphics Info */
        .graphic-info {
            width: 90%;
            height: auto;
            margin-left: 5%;
        }
        .graphic-info > h1 {
            font-size: 70px;
            text-align: center;
        }
        .graphic-info > h3 {
            font-size: 30px;
            text-align: center;
        }
        .graphic-info > p {
            font-size: 20px;
            text-align: center;
        }
        /* Graphics Info */
        
        /* Graphics Section */
        .graphic-section {
            width: 90%;
            height: auto;
            margin: 10% 5%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
        }
        .graphic-section-box {
            width: 250px;
            height: 250px;
            background: whitesmoke;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            box-shadow: 2px 3px 4px rgba(0,0,0,0.3);
            transition: all ease 0.8s;
            margin: 6px 3px;
        }
        .graphic-section-box:hover {
            width: 260px;
            height: 260px;
        }
        .graphic-section-box > h1 {
            font-size: 80px;
        }
        .graphic-section-box > h2 {
            font-size: 60px;
        }
        .graphic-section-box > p {
            font-size: 25px;
        }
        .corel {
            width: 100px;
            height: 100px;
            background: url(corel.png);
            background-size: cover;
            background-position: center;
        }
        .adobe {
            width: 100px;
            height: 100px;
            background: url(adobe.png);
            background-size: cover;
            background-position: center;
        }
        /* xGraphics Sectionx */
        
        /* Graphic Lecture */
        .graphic-lecture {
            width: 90%;
            height: auto;
            margin: 10% 5%;
           display: flex;
           flex-direction: column;
        }
        .graphic-lecture-img {
            width: 100%;
            height: 400px;
            background: url(lecture.jpg);    
            background-size: cover;
            background-position: center;
        }
        .graphic-lecture-text {
            width: 100%;
            height: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
        .graphic-lecture-text > h1 {
            font-size: 70px;
            padding: 0px 0px;
        }
        .graphic-lecture-text > h3 {
            font-size: 30px;
            padding: 0px 0px;
        }
        .graphic-lecture-text > p {
            font-size: 20px;
            padding: 0px 0px;
        }
        /* xGraphic Lecturex */
        
        /* Graphic Make */
        .graphic-make {
            width: 90%;
            height: auto;
            margin: 10% 5%;
        }
        .graphic-make-img {
            width: 100%;
            height: 400px;
            background: url(green-high.jpg);    
            background-size: cover;
            background-position: center;
        }
        .graphic-make > h3 {
            font-size: 30px;
            padding: 5px 15px;
        }
        .graphic-make > p {
            font-size: 20px;
            padding: 0px 0px;
        }
        /* xGraphic Makex */
        
        
        /* xGraphic Imagex */
        .graphic-image {
            width: 90%;
            height: auto;
        }
        /* xGraphic Imagex */
        .graphic-image{
            width: 90%;
            height: auto;
            margin: 0% 5%;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-wrap: wrap;
        }
        .graphic-image-h1 {
            font-size: 70px;
            padding: 0px 0%;
            text-align: center;
        }
        .graphic-image-box1 {
            width: 200px;
            height: 200px;
            background: url(BIT.jpg);
            background-size: cover;
            background-position: center;
            margin: 6px 3px;
        }
        .graphic-image-box2 {
            width: 200px;
            height: 200px;
            background: url(bliss-tech.jpg);
            background-size: cover;
            background-position: center;
            margin: 6px 3px;
        }
        .graphic-image-box3 {
            width: 200px;
            height: 200px;
            background: url(ocuppy-redhead.jpg);
            background-size: cover;
            background-position: center;
            margin: 6px 3px;
        }
        .graphic-image-box4 {
            width: 200px;
            height: 200px;
            background: url(leave-girl-green.jpg);
            background-size: cover;
            background-position: center;
            margin: 6px 3px;
        }
        /* xGRAPHICS DESIGNx */
        
        
        
        
        /* COMPUTER ENGINEERING */
        .computer-showcase {
            width: 100%;
            height: 500px;
            background: url(engine.jpg);    
            background-size: cover;
            background-position: center;
            border-bottom: 5px solid yellow;
        }
        .computer-lecture {
            width: 90%;
            height: 600px;
            background: #fff;
        }
        
        .computer-lecture-img {
            width: 100%;
            height: 400px;
            background: url(computer.jpg);    
            background-size: cover;
            background-position: center;
        }
        .computer-lecture-img2 {
            width: 100%;
            height: 400px;
            background: url(repair.jpg);    
            background-size: cover;
            background-position: center;
        }
        
        .computer-make-img {
            width: 100%;
            height: 300px;
            background: url(a.jpg);    
            background-size: cover;
            background-position: center;
        }
        /* xCOMPUTER ENGINEERINGx */
        
        
        
        /* CONTACT */
        .contact-box {
            width: 90%;
            height: auto;
            margin-left: 5%;
            margin-top: 15%;
            display: flex;
            flex-direction: column;
        }
        .contact-box-img {
            width: 100%;
            height: 400px;
            background: url(enny.jpeg);    
            background-size: cover;
            background-position: center;
        }
        form {
            width: 100%;
            height: 400px;
            margin: 0% 0%;
            background: #000;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        
        label {
            font-size: 20px;
            padding: 10px 10px;
            color: orange;
            font-family: 'Georama', sans-serif;
            font-family: 'Teko', sans-serif;
        }
        input[type="text"] {
            width: 60%;
            height: 40px;
            background: none;
            border: 2px solid orange;
            font-size: 25px;
            padding: 10px 10px;
            color: #fff;
            font-family: 'Georama', sans-serif;
            font-family: 'Rajdhani', sans-serif;
            font-family: 'Teko', sans-serif;
        }
        input[type="email"] {
            width: 60%;
            height: 40px;
            background: none;
            border: 2px solid orange;
            font-size: 25px;
            padding: 10px 10px;
            color: #fff;
            font-family: 'Georama', sans-serif;
            font-family: 'Rajdhani', sans-serif;
            font-family: 'Teko', sans-serif;
        }
        textarea {
            width: 60%;
            height: 200px;
            background: none;
            border: 2px solid orange;
            font-size: 25px;
            padding: 10px 10px;
            color: #fff;
            font-family: 'Georama', sans-serif;
            font-family: 'Rajdhani', sans-serif;
            font-family: 'Teko', sans-serif;
        }
        input[type="submit"] {
            width: 60%;
            height: 40px;
            margin: 20px 0px;
            background: orange;
            border: none;
            outline: none;
            font-size: 25px;
            transition: all ease 0.6s;
            font-family: 'Barlow Condensed', sans-serif;
        }
        input[type="submit"]:hover {
            width: 50%;
        }
        
        .contact-social {
            width: 80%;
            height: 400px;
            margin: 2% 10%;
            background: #000;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        .contact-social > h3 {
            font-size: 30px;
            color: #fff;
        }
        .contact-social > p {
            font-size: 20px;
            color: #fff;
        }
        .contact-social-img {
            width: 200px;
            height: 200px;
            background: url(ennyb.jpg);
            background-size: cover;
            background-position: center;
            border-radius: 50%;
        }
        .contact-social-box {
            width: 300px;
            height: 50px;
            margin: 2% 5%;
            display: flex;
        }
        .contact-social-box-i {
            width: 50px;
            height: 50px;
            margin: 0% 3%;
            display: flex;
            justify-content: center;
            align-items: center;
            transition: all ease 0.5s;
        }
        .contact-social-box-i:hover {
            background: #fff;
            border-radius: 50%;
        }
        .contact-social-box-i-i{
            font-size: 30px;
            color: orange;
        }
        .contact-social-box-i-i:hover {
            color: #000;
        }
        
        .location {
            width: 90%;
            height: 500px;
            margin: 5% 5%;
        }
        .location > iframe {
            width: 100%;
            height: 400px;
        }
        .location > h3 {
            font-size: 30px;
        }
        /* xCONTACTx */
        
        .about-box {
            width: 90%;
            height: auto;
            margin: 5% 5%;
        }
        .about-img {
            width: 90%;
            height: 400px;
            margin: 0% 5%;
            background: url(bliss.jpg);    
            background-size: cover;
            background-position: center;
        }
        .about-box > h1 {
            font-size: 80px;
            text-align: center;
        }
        .about-box > h3 {
            font-size: 40px;
            text-align: center;
        }
        .about-box > p {
            font-size: 25px;
        }
        
        /* Footer */
        .footer {
            width: 100%;
            height: 300px;
            background: #000;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            border-top: 2px solid orange;
        }
        .footer > h1 {
            color: orange;
            font-size: 50px;
        }
        .footer > h3 {
            color: #fff;
            font-size: 30px;
        }
        .footer > P {
            color: yellow;
            font-size: 20px;
        }
        .social-box i {
            color: #fff;
            font-size: 50px;
        } 
    
    }
 





















@media only screen and (min-width: 300px) and (max-width: 600px){
  .body {
      overflow-x: hidden;
  }
    .top-box-responsive {
        display: flex;
    }
    .top-box-responsive > p {
        color: #fff;
    }
    .top-box {
        display: none;
    }
    header {
        width: 100%;
        height: 500px;
        background: #fff;
        box-shadow: 0px 0px 7px rgba(0,0,0,0.3);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        z-index: 1000;
        top: 0;
        left: 0;
        right: 0%;
        position: fixed;
        visibility: hidden;
    }
    .logo-me {
        display: none;
    }
    
    .menu {
        display: flex;
        justify-content: space-between;
        background: #000;
    }

    .open {
        position: relative;
        top: 5px;
        right: 5px;
        z-index: 1000;
    }
    .open i {
        font-size: 30px;
        transition: all ease 0.7s;
        color: orange;
    }
    .open i:hover {
        color: yellow;
        opacity: 0;
    }

    .mynav > li {
        margin: 6px 5px;
        text-align: center;
    }
    .mynav > li > a{
        font-size: 20px;
        color: #fff;
        transform-origin: center;
        transition: all ease 0.9s;
    }
    .mynav > li > a:hover{
        color: orange;
        letter-spacing: 0.1px;
    }


    .mynav {
        width: 50%;
        height: 400px;
        z-index: 1000;
        background: #000;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: fixed;
        border-bottom: 2px solid #000;
        transition: all ease 1s;
        display: none;
    }

    .close {
        position: relative;
        top: 20px;
        color: #fff;
    }
    .close i {
        font-size: 30px;
        transition: all ease 0.7s;
    }

    .close i:hover {
        color: orange;
    }


.logo {
    width: 70px;
    height: 30px;
    display: flex;
    background: yellow;
    justify-content: center;
    margin: 5px 10px;
}

    .logo > h1 {
        font-size: 018px;
        padding: 4px 3px;
    }
    .logo > p {
        font-size: 012px;
        padding: 4px 3px;
    }
    .showcase {
        width: 100%;
        height: 70vh;
        background: url("c.jpg");
        background-size: cover;
        background-position: center;
    }
    .showcase-text {
        width: 90%;
        height: 150px;
        margin: 3% 5%;
    }
    .showcase-text > h1 {
        font-size: 60px;
        text-shadow: 2px 1px 3px rgba(22, 9, 9, 0.199);
        color: #fff;
    }

    .showcase-text > h1 > span {
        color: orange;
    }

    .showcase-text > p {
        font-size: 20px;
        color: orange;
        text-shadow: 2px 1px 3px rgba(7, 1, 1, 0.397);
    }

    .showcase-text > p > span {
        color: #fff;
    }

    .showcase-text > a > button {
        width: 100px;
        height: 40px;
        background: yellow;
        color: #000;
        outline: none;
        border: none;
        font-size: 15px;
        margin: 5px 0px;
        transition: all ease 01s;
    }

    .showcase-text > a > button:hover {
        background: #000;
        width: 115px;
        color: orange;
    }

    .showcase-box {
        width: 100%;
        margin-left: 0%;
        height: 600px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        margin-top: 10%;
    }

      .showcase-box-box {
        width: 180px;
        height: 180px;
        background: #000;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transition: all ease 0.8s;
        box-shadow: 3px 5px 7px rgba(0,0,0,0.3);
      }

      .showcase-box-box:hover {
          border: 10px solid orange;
      }

      .showcase-box-box > h1 {
        font-size: 80px;
        color: #fff;
      }
      .showcase-box-box > h1 > span {
          color: orange;
      }

        .showcase-box-box > h3 {
        font-size: 20px;
        text-align: center;
        color: orange;
      }

      .showcase-box-box > h3 > span {
          color: #fff;
      }

           /* Info Box */
           .info-box {
            width: 100%;
            margin-left: 0%;
            margin-top: 15%;
            height: auto;
           border-bottom: 0px solid #000;
        }
        .info-box  > h1 {
            color: #000;
            font-size: 40px;
            padding: 0px 10px;
            text-align: center;
        }
        .info-box  > p {
            color: #fff;
            font-size: 015px;
            color: #000;
            padding: 0px 10px;
            text-align: center;
        }
  
        .info-box  > p > a > span {
            color: orange;
            text-align: center;
        }
  /* xInfo Boxx */




/* Web Design */
.web-design {
    width: 90%;
    margin: 15% 5%;
    height: auto;
    display: flex;
    flex-direction: column;
}

.web-design-box {
    width: 100%;
    height: 300px;
    background: url("yellow.jpeg");
    background-size: cover;
    background-position: center;
    border-bottom: 0px solid orange;
}
.graphics-design-box {
    width: 100%;
    height: 300px;
    background: url("green-high.jpg");
    background-size: cover;
    background-position: center;
    border-bottom: 0px solid orange;
}

.web-design-text {
    width: 100%;
    height: 070%;
}
.web-design-text-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.web-text-text1 {
    width:100%;
    height: auto;
    border-top: 0px solid orange;
}
.web-text-text2 {
    width:100%;
    height: auto;
}
.web-text-text1 > h1 {
    font-size: 40px;
    color: #000;
    padding: 10px 5px;
}

.web-text-text1> h1 > span {
    color: orange;
}
.web-text-text2 > h3 {
    font-size: 25px;
    color: #000;
    padding: 10px 5px;
}
.web-text-text2 > h3 > a{
    color: orange;
}
.web-text-text2 > p {
    font-size: 18px;
    color: #000;
    padding: 10px 5px;
}
.web-text-text2 > a > p {
    font-size: 18px;
    padding: 10px 5px;
    color: orange;
} 
/* xWeb Designx */






/* Compure Enginnering */
.computer-engineering {
    width: 90%;
    height: auto;
    margin: 20% 5%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.computer-engineering-box {
    width: 100%;
    height: 300px;
    background: url("a.jpg");
    background-size: cover;
    background-position: center;
    border-bottom: 3px solid orange;
}
.computer-engineering-text {
    width: 100%;
    height: auto;
}
.computer-engineering-text > h1 {
    font-size: 40px;
    color: #000;
    padding: 5px 0px;
}
.computer-engineering > h1 > span {
    color: yellow;
}
.computer-engineering-text > h3 {
    font-size: 25px;
    color: #000;
    padding: 10px 5px;
}

.computer-engineering-text > p {
    font-size: 18px;
    color: #000;
    padding: 10px 5px;
}
.computer-engineering-text > a > p {
    font-size: 18px;
    padding: 10px 5px;
    color: orange;
}
/* xCompure Enginneringx */


/* Go into the WEB DESIGN SECTION */

/* WEB DESIGNING PAGE NOW */
.web-showcase {
    width: 100%;
    height: 300px;
    background: url(eniola.jpg);    
    background-size: cover;
    background-position: center;
}


.web-section {
    width: 90%;
    height: auto;
    margin-left: 5%;
    margin-top: 10%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.web-section-box {
    width: 230px;
    height: 230px;
    margin: 3% 0%;
    background: #000;
    transition: all ease 0.7s;
    box-shadow: 2px 1px 3px  rgba(238, 223, 9, 0.24);
}
.web-section-box:hover {
    border: 5px solid orange;
}
.web-section-box > h1 {
    font-size: 70px;
    color: orange;
    text-align: center;
}
.web-section-box > h3 {
    font-size: 30px;
    text-align: center;
    color: #fff;
}
.web-section-box > p {
    font-size: 25px;
    color: yellow;
    text-align: center;
}

.question {
    width: 90%;
    height: auto;
    margin: 100px 5%;
}
.qp {
    width: 100%;
    margin: 3% 0%;
    font-size: 20px;
}

.question-box {
    width: 100%;
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.question-box-img {
    width: 100%;
    height: 350px;
    background: url(coder.jpg);    
    background-size: cover;
    background-position: center;
}
.question-box-img2 {
    width: 100%;
    height: 350px;
    background: url(require.jpg);    
    background-size: cover;
    background-position: center;
}
.question-box-text {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.question-box-text > h1 {
    font-size: 50px;
    color: orange;
}
.question-box-text > h3 {
    font-size: 20px;
    color: #000;
    padding: 5px 0px;
}
.question-box-text > p {
    font-size: 18px;
}
                                                       
/* Go into the WEB DESIGN SECTION */


/* xGRAPHICS DESIGNx */
.graphic-showcase {
    width: 100%;
    height: 350px;
    background: url(graphics.jpg);    
    background-size: cover;
    background-position: center;
    border-bottom: 5px solid yellow;
}
.graphic-showcase-text {
    width: 90%;
    height: auto;
    margin-left: 5%;
}
.graphic-showcase-text > h1 {
    font-size: 50px;
    color: #fff;
}
.graphic-showcase-text > h1 > span {
    font-size: 50px;
    color: #000;
}
.graphic-showcase-text > p {
    font-size: 30px;
}

.graphic-showcase-text > a > button {
    width: 100px;
    height: 40px;
    background: yellow;
    color: #000;
    outline: none;
    border: none;
    font-size: 15px;
    margin: 5px 0px;
    transition: all ease 01s;
}

.graphic-showcase-text > a > button:hover {
    background: #000;
    width: 115px;
    color: orange;
}

/* Graphics Info */
.graphic-info {
    width: 90%;
    height: auto;
    margin-left: 5%;
}
.graphic-info > h1 {
    font-size: 50px;
    text-align: center;
}
.graphic-info > h3 {
    font-size: 50px;
    text-align: center;
}
.graphic-info > p {
    font-size: 20px;
    text-align: center;
}
/* Graphics Info */

/* Graphics Section */
.graphic-section {
    width: 90%;
    height: auto;
    margin: 10% 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.graphic-section-box {
    width: 200px;
    height: 200px;
    margin: 5% 0%;
    background: whitesmoke;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 2px 3px 4px rgba(0,0,0,0.3);
    transition: all ease 0.8s;
}
.graphic-section-box:hover {
    width: 220px;
    height: 220px;
}
.graphic-section-box > h1 {
    font-size: 60px;
}
.graphic-section-box > h2 {
    font-size: 40px;
}
.graphic-section-box > p {
    font-size: 18px;
}
.corel {
    width: 70px;
    height: 70px;
    background: url(corel.png);
    background-size: cover;
    background-position: center;
}
.adobe {
    width: 70px;
    height: 70px;
    background: url(adobe.png);
    background-size: cover;
    background-position: center;
}
/* xGraphics Sectionx */

/* Graphic Lecture */
.graphic-lecture {
    width: 90%;
    height: auto;
    margin: 10% 5%;
    flex-direction: column;
    display: flex;
}
.graphic-lecture-img {
    width: 100%;
    height: 350px;
    background: url(lecture.jpg);    
    background-size: cover;
    background-position: center;
}
.graphic-lecture-text {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.graphic-lecture-text > h1 {
    font-size: 60px;
    padding: 10px 10px;
}
.graphic-lecture-text > h3 {
    font-size: 30px;
    padding: 10px 10px;
}
.graphic-lecture-text > p {
    font-size: 20px;
    padding: 10px 10px;
}
/* xGraphic Lecturex */

/* Graphic Make */
.graphic-make {
    width: 90%;
    height: auto;
    margin: 20% 5%;
}
.graphic-make-img {
    width: 100%;
    height: 300px;
    background: url(green-high.jpg);    
    background-size: cover;
    background-position: center;
}
.graphic-make > h3 {
    font-size: 40px;
}
.graphic-make > p {
    font-size: 25px;
}
/* xGraphic Makex */


/* xGraphic Imagex */

/* xGraphic Imagex */
.graphic-image{
    width: 90%;
    height: auto;
    margin: 0% 5%;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}
.graphic-image-h1 {
    font-size: 60px;
}
.graphic-image-box1 {
    width: 100%;
    height: 250px;
    background: url(BIT.jpg);
    background-size: cover;
    background-position: center;
    margin-top: 4%;
}
.graphic-image-box2 {
    width: 100%;
    height: 250px;
    background: url(bliss-tech.jpg);
    background-size: cover;
    background-position: center;
    margin-top: 4%;
}
.graphic-image-box3 {
    width: 100%;
    height: 250px;
    background: url(ocuppy-redhead.jpg);
    background-size: cover;
    background-position: center;
    margin-top: 4%;
}
.graphic-image-box4 {
    width: 100%;
    height: 250px;
    background: url(leave-girl-green.jpg);
    background-size: cover;
    background-position: center;
    margin-top: 4%;
}
/* xGRAPHICS DESIGNx */


/* COMPUTER ENGINEERING */
.computer-showcase {
    width: 100%;
    height: 400px;
    background: url(engine.jpg);    
    background-size: cover;
    background-position: center;
    border-bottom: 5px solid yellow;
}
.computer-lecture-img {
    width: 100%;
    height: 300px;
    background: url(computer.jpg);    
    background-size: cover;
    background-position: center;
}
.computer-lecture-img2 {
    width: 100%;
    height: 300px;
    background: url(repair.jpg);    
    background-size: cover;
    background-position: center;
}

.computer-make-img {
    width: 100%;
    height: 300px;
    background: url(a.jpg);    
    background-size: cover;
    background-position: center;
    margin: 20% 0%;
}
/* xCOMPUTER ENGINEERINGx */


/* CONTACT */
.contact-box {
    width: 90%;
    height: auto;
    margin: 20% 5%;
    display: flex;
    flex-direction: column;
}
.contact-box-img {
    width: 100%;
    height: 300px;
    background: url(enny.jpeg);    
    background-size: cover;
    background-position: center;
}
form {
    width: 100%;
    height: auto;
    margin: 10% 0%;
    background: #fff;
    display: flex;
    flex-direction: column;
    align-items: left;
}

label {
    font-size: 10px;
    padding: 10px 10px;
    color: #000;
}
input[type="text"] {
    width: 100%;
    height: 30px;
    background: #000;
    border: 1px solid #000;
    font-size: 20px;
    padding: 10px 10px;
    color: orange;
    font-family: 'Georama', sans-serif;
    font-family: 'Rajdhani', sans-serif;
    font-family: 'Teko', sans-serif;
}
input[type="email"] {
    width: 100%;
    height: 30px;
    background: #000;
    border: 1px solid #000;
    font-size: 20px;
    padding: 10px 10px;
    color: orange;
    font-family: 'Georama', sans-serif;
    font-family: 'Rajdhani', sans-serif;
    font-family: 'Teko', sans-serif;
}
textarea {
    width: 100%;
    height: 100px;
    background: none;
    border: 1px solid #000;
    font-size: 20px;
    padding: 10px 10px;
    color: orange;
    font-family: 'Georama', sans-serif;
    font-family: 'Rajdhani', sans-serif;
    font-family: 'Teko', sans-serif;
}
input[type="submit"] {
    width: 70px;
    height: 30px;
    background: #000;
    color: orange;
    margin: 10px 0px;
    border: 1px solid #000;
    border: none;
    outline: none;
    font-size: 15px;
    font-family:'Barlow Condensed', sans-serif;
    transition: all ease 0.6s;
}
input[type="submit"]:hover {
    width: 50%;
}

.contact-social {
    width: 70%;
    height: auto;
    margin: 2% 15%;
    background: #000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 0px;
}
.contact-social > h3 {
    font-size: 30px;
    color: #fff;
}
.contact-social > p {
    font-size: 20px;
    color: #fff;
}
.contact-social-img {
    width: 100px;
    height: 100px;
    background: url(ennyb.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 50%;
}
.contact-social-box {
    width: 250px;
    height: 50px;
    margin: 2% 5%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contact-social-box-i {
    width: 40px;
    height: 40px;
    margin: 0% 1%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all ease 0.5s;
}
.contact-social-box-i:hover {
    background: #fff;
    border-radius: 50%;
}
.contact-social-box-i-i{
    font-size: 20px;
    color: orange;
}
.contact-social-box-i-i:hover {
    color: #000;
}

.location {
    width: 90%;
    height: auto;
    margin: 5% 5%;
}
.location > iframe {
    width: 100%;
    height: 300px;
}
.location > h3 {
    font-size: 30px;
}
/* xCONTACTx */

.about-box {
    width: 90%;
    height: auto;
    margin: 5% 5%;
}
.about-img {
    width: 100%;
    height: 300px;
    margin: 0% 0%;
    background: url(bliss.jpg);    
    background-size: cover;
    background-position: center;
}
.about-box > h1 {
    font-size: 70px;
    text-align: center;
}
.about-box > h3 {
    font-size: 30px;
    text-align: center;
}
.about-box > p {
    font-size: 20px;
}

.footer {
    width: 100%;
    height: 200px;
    background: #000;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.footer > h1 {
    color: orange;
    font-size: 40px;
    text-align: center;
}
.footer > h3 {
    color: yellow;
    font-size: 20px;
}
.footer > P {
    color: yellow;
    font-size: 15px;
}
.social-box i {
    color: #fff;
    font-size: 25px;
}
}